Repository FinAgent-Lab/fin-agent, changes with the labels that .github/labeler.yml gives for each.
All labels: meta-supervisor, services, api, config, market-analysis, trading, routing, nlu, tests, ci-cd, docker, dependencies, documentation, enhancement, configuration

.github/labeler.yml:

# Auto-labeling configuration for FinAgent Meta-Supervisor
# GitHub Actions labeler v5 format

# Component-based labels
meta-supervisor:
- changed-files:
    any-glob-to-any-file: 
      - 'src/meta_supervisor/**'

services:
- changed-files:
    any-glob-to-any-file:
      - 'src/meta_supervisor/services/**'

api:
- changed-files:
    any-glob-to-any-file:
      - 'src/meta_supervisor/routers/**'

config:
- changed-files:
    any-glob-to-any-file:
      - 'src/meta_supervisor/config.py'
      - 'src/meta_supervisor/config/**'

# Feature-specific labels
market-analysis:
- changed-files:
    any-glob-to-any-file:
      - 'src/meta_supervisor/services/market_analysis_service.py'
      - '**/market_analysis*'

trading:
- changed-files:
    any-glob-to-any-file:
      - 'src/meta_supervisor/services/trading_service.py'
      - '**/trading*'

routing:
- changed-files:
    any-glob-to-any-file:
      - 'src/meta_supervisor/services/routing_service.py'
      - '**/routing*'

nlu:
- changed-files:
    any-glob-to-any-file:
      - 'src/meta_supervisor/services/nlu_service.py'
      - '**/nlu*'

# Infrastructure labels
tests:
- changed-files:
    any-glob-to-any-file:
      - 'tests/**'
      - '**/test_*'
      - '**/*_test.py'

ci-cd:
- changed-files:
    any-glob-to-any-file:
      - '.github/**'
      - '**/*.yml'
      - '**/*.yaml'

docker:
- changed-files:
    any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*'
      - '.dockerignore'

dependencies:
- changed-files:
    any-glob-to-any-file:
      - 'pyproject.toml'
      - 'requirements*.txt'
      - 'uv.lock'

documentation:
- changed-files:
    any-glob-to-any-file:
      - 'README*'
      - 'docs/**'
      - '**/*.md'

# Development workflow labels
enhancement:
- changed-files:
    any-glob-to-any-file:
      - 'src/**/*.py'

configuration:
- changed-files:
    any-glob-to-any-file:
      - '*.toml'
      - '*.ini'
      - '*.conf'
      - '.env*'

fix: query 요청에 대한 응답 메시지 포맷 변경
  src/meta_supervisor/routers/api.py
  src/meta_supervisor/schemas.py
Labels: meta-supervisor, api, enhancement

Update README.md
  README.md
Labels: documentation

update: 미들웨어 로깅 추가 close #12
  src/meta_supervisor/main.py
  src/meta_supervisor/simple_logging.py
Labels: meta-supervisor, enhancement

fix: req/res 포맷 불일치 이슈 close #14
  src/meta_supervisor/routers/api.py
  tests/test_api_endpoints.py
  tests/test_logging_middleware.py
Labels: meta-supervisor, api, tests, enhancement

fix: 테스트 실패 및 포맷 정리리
  tests/conftest.py
  tests/test_api_endpoints.py
  tests/test_logging_middleware.py
Labels: tests

update: react agent의 시스템 프름프트 추가 및 불필요한 코드 제거
  pyproject.toml
  src/meta_supervisor/main.py
  src/meta_supervisor/routers/api.py
  src/meta_supervisor/services/agent_service.py
Labels: meta-supervisor, services, api, dependencies, enhancement, configuration

update: 시장 분석 서비스 접속 정보 수정
  .github/workflows/simple-deploy.yml
  src/meta_supervisor/services/market_analysis_service.py
  src/meta_supervisor/services/market_analysis_service.py.backup
  uv.lock
Labels: meta-supervisor, services, market-analysis, ci-cd, dependencies, enhancement

삭제: 시장 분석 서비스의 백업 파일 제거 및 테스트에서 fallback 기능 수정
  src/meta_supervisor/services/market_analysis_service.py.backup
  tests/test_basic.py
Labels: meta-supervisor, services, market-analysis, tests

update: simple-deploy.yml에서 배포 브랜치를 feat/18로 변경
  .github/workflows/simple-deploy.yml
Labels: ci-cd

update: simple-deploy.yml에서 배포 브랜치를 fix/17로 변경
  .github/workflows/simple-deploy.yml
Labels: ci-cd

add: 매매 에이전트 연동
  .github/workflows/simple-deploy.yml
  src/meta_supervisor/services/agent_service.py
  src/meta_supervisor/services/trading_service.py
  src/meta_supervisor/tools/market_analysis_tool.py
  src/meta_supervisor/tools/trading_tool.py
Labels: meta-supervisor, services, market-analysis, trading, ci-cd, enhancement

...
  .github/workflows/simple-deploy.yml
Labels: ci-cd
